    body{
        position: relative;
        margin: 0;
        padding: 0;
        padding-top: 50px;
        -moz-user-select: none;
        user-select: none;
    }
    .container{
        max-width: 480px;
        display: grid;
        justify-content: center;
        gap: 5px;
        grid-template-areas: 
        'phone osago request'
        'phone shopauto request'
        'towtrack feedback request'
        'towtrack feedback request'
        'address address command'
        'address address site';
        
    }
h4{
    color: white;
    justify-content:center;
}
.phone{
    width: 100px;
    height: 100px;
    grid-area: phone;
}
.but_phone{
    width: 100px;
    height: 100px;
    border: none;
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    background: linear-gradient(45deg, red,rgb(255, 119, 0));

}
.imgPhone{
    width: 50px;
    height: 50px;
}


.osago{
    width: 100px;
    height: 43.5px;
    grid-area: osago;
}
.but_osago{
    width: 100px;
    height: 43.5px;
    border: none;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-end-end-radius: 10px;
    background: linear-gradient(45deg, blue,rgb(102, 154, 238));
}


.shopauto{
    width: 100px;
    height: 43.5px;
    grid-area: shopauto;
}
.but_shopauto{
    width: 100px;
    height: 43.5px;
    border: none;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-end-end-radius: 10px;
    background: linear-gradient(45deg, blue, rgb(102, 154, 238));
}


.request{
    width: 100px;
    height: 215px;
    grid-area: request;
}
.but_request{
    width: 100px;
    height: 215px;
    border: none;
    /* border-radius: 20%; */
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    background: linear-gradient(45deg, orange,rgb(242, 203, 112));
}



.towtrack{
    width: 100px;
    height: 100px;
    grid-area: towtrack;
}
.but_towtrack{
    width: 100px;
    height: 100px;
    border: none;
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    background: linear-gradient(45deg, red,rgb(255, 119, 0));

}



.feedback{
    width: 100px;
    height: 100px;
    grid-area: feedback;
}
.but_feedback{
    width: 100px;
    height: 100px;
    border: none;
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    background: linear-gradient(45deg, rgb(126, 250, 1),rgb(211, 221, 26));

}
.address{
    width: 200px;
    height: 100px;
    grid-area: address;
}
.but_address{
    width: 200px;
    height: 100px;
    border: none;
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    background: linear-gradient(45deg, rgb(20, 191, 35),rgb(93, 237, 77));

}
.command{

    width: 100px;
    height: 43.5px;
    grid-area: command;
}
.but_command{
    width: 100px;
    height: 43.5px;
    border: none;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-end-end-radius: 10px;
    background: linear-gradient(45deg, rgb(158, 69, 145), rgb(239, 64, 239));
}
.site{

    width: 100px;
    height: 43.5px;
    grid-area: site;
}
.but_site{
    width: 100px;
    height: 43.5px;
    border: none;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-end-end-radius: 10px;
    background: linear-gradient(45deg, rgb(158, 69, 145), rgb(239, 64, 239));
}