body{
    position: relative;
    margin: 2%;
    -moz-user-select: none;
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
}
span{
    color: rgb(255, 162, 0);
}
.container{
    max-width: 480px;
    display: flex;
    margin: auto;
    border: none;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
}

.image{
    width: 200px;
    height: 200px;
    padding-left: 50px;
    margin: auto;
}
.description{
    width: 200px;
    text-align: center;
    margin: auto;
}
h5{
    color: gray;
    font-weight: 700;
}
h4{
    color: white;
    font-weight: 500px;
}

/*настройки кнопок*/

.but_phone{
    width: 200px;
    height: 45px;
    border: none;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-end-end-radius: 10px;
    background: linear-gradient(45deg, rgb(254, 93, 0),rgb(255, 162, 0));
}
.butt{
padding-top: 10px;
text-align: center;
}





/*
==============================================================================================
Настройки страницы карты
==============================================================================================
*/

 .mapconteiner{
    max-width: 480;
    border: none;
    margin: auto;
    justify-content: center;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.service_description, .office_description{
    margin: auto;
}

.service, .office{

    margin: auto;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.but_service{
    border: none;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-end-end-radius: 10px;
    width: 200px;
    height: 50px;
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(45deg,#ff7301,#ff7d26);
}
.but_office{
    border: none;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-end-end-radius: 10px;
    width: 200px;
    height: 50px;
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(45deg,#cccccc,#ececec);
}
.image_but{
    width: 25px;
    height: 25px;
    margin: auto;
}
.image_butB{
    filter: invert(100);
    width: 25px;
    height: 25px;
    margin: auto;
}
.name_map_service{
    width: 160px;
    color: white;
    margin: auto;
}
.name_map_office{
    width: 140px;
    color: #323232;
    margin: auto;
    text-align: center;
}
.but_search{
    border: none;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-end-end-radius: 10px;
    width: 200px;
    height: 50px;
    background: linear-gradient(45deg,#323232,#595959);
    margin: auto;
}
.text_search{
    margin: auto;
}
.image_map{
    width: 200px;
    height: 200px;
    margin: auto;
}