body{
        position: relative;
        margin: 0;
        padding-top:50px;
        -moz-user-select: none;
        user-select: none;
}
.container{
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        justify-content: center;
        gap: 6px;
        grid-template-areas: 
        'phone osago request'
        'phone shopauto request'
        'towtrack feedback request'
        'towtrack feedback request'
        'address address command'
        'address address site';       
}
h4{
    color: white;
    justify-content:center;
}
h6{
    color: white;
    justify-content: center;
}

.but_phone, .but_towtrack{
    width: 100px;
    height: 100px;
    border: none;
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    background: linear-gradient(45deg, #ff7301,#ff7d26);

}
.phone{
    width: 100px;
    height: 100px;
    grid-area: phone;
}
.towtrack{
    width: 100px;
    height: 100px;
    grid-area: towtrack;
}
.imgPhoneTowTruck, .imgRequest{
    padding-top: 2px;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}




.but_osago, .but_shopauto, .but_command, .but_site{
    width: 100px;
    height: 43.5px;
    border: none;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-end-end-radius: 10px;
    background: linear-gradient(45deg,#323232,#595959);
}
.osago{
    width: 100px;
    height: 43.5px;
    grid-area: osago;
}
.shopauto{
    width: 100px;
    height: 43.5px;
    grid-area: shopauto;
}
.command{

    width: 100px;
    height: 43.5px;
    grid-area: command;
}
.site{
    width: 100px;
    height: 43.5px;
    grid-area: site;
}
.imgSite{

}







.request{
    width: 100px;
    height: 215px;
    grid-area: request;
}
.but_request{
    width: 100px;
    height: 213.5px;
    border: none;
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    background: linear-gradient(45deg,  #ff7301,#ff7d26);
}







.feedback{
    width: 100px;
    height: 100px;
    grid-area: feedback;
}
.but_feedback{
    width: 100px;
    height: 100px;
    border: none;
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    background: linear-gradient(45deg,  #c1c1c1,#e4e4e4);

}
.address{
    width: 200px;
    height: 100px;
    grid-area: address;
}
.imgMap{
    padding-top: 10px;
    width: 50px;
    height: 50px;
}
.text_mapFeedback{
    color: #323232;
}
.but_address{
    width: 200px;
    height: 100px;
    border: none;
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    background: linear-gradient(45deg,  #c1c1c1,#e4e4e4);
}