body{
    position: relative;
    margin: 2%;
    -moz-user-select: none;
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
}
span{
    color: rgb(255, 162, 0);
}
.container{
    max-width: 480px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    border: none;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    /* grid-template-areas: 
    'image'
    'description'
    'button_novgorod'
    'button_krym'; */
}

.image{
    width: 200px;
    height: 200px;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;

}


.description{
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}
h5{
    color: gray;
    font-weight: 700;
}
h4{
    color: white;
    font-weight: 500px;
}

/*настройки кнопок*/

.but_phone{
    width: 200px;
    height: 45px;
    border: none;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-end-end-radius: 10px;
    background: linear-gradient(45deg, rgb(254, 93, 0),rgb(255, 162, 0));
}
.button_novgorod{
   text-align: center;
}
.button_krym{
padding-top: 10px;
text-align: center;
}





/* Настройки страницы карты */

 .mapconteiner{
    max-width: 480;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.service_description, .office_description{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.service, .office{

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.but_service{
    border: none;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-end-end-radius: 10px;
    width: 200px;
    height: 45px;
    gap: 10px;
    display: flex;
    flex-direction: space-around;
    background: linear-gradient(120deg,#323232 10%,#595959 23%, #cccccc 23%,#ececec 77%,#ff7301 77%,#ff7d26 90%);
}
.image_but{
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.name_map{
    width: 115px;
    padding-top: 1px;
    color: #323232;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
