body{
    position: relative;
    margin: 0;
    padding-top: 50px;
    -moz-user-select: none;
    user-select: none;
}
.container{
    max-width: 480px;
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-areas: 
    'image'
    'description'
    'button_novgorod'
    'button_krym';
}

.image{
    grid-area: image;
    width: 200px;
    height: 200px;
}


.description{
    grid-area: description;
}
h5{
    color: gray;
}
h4{
    color: white;

}

/*настройки кнопок*/

button{
    width: 200px;
    height: 45px;
    border: none;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-end-end-radius: 10px;
    background: linear-gradient(45deg, rgb(254, 93, 0),rgb(255, 162, 0));
}
.button_novgorod{
   grid-area: button_novgorod;
}
.button_krym{
grid-area: button_krym;
}


